// out: style.css, sourcemap: true, compress: true, nib: true

// Variables
accent=#1a8cff
black05=rgba(0,0,0,.05)
black25=rgba(0,0,0,.25)
white05=rgba(255,255,255,.05)
white10=rgba(255,255,255,.1)
white25=rgba(255,255,255,.25)
white50=rgba(255,255,255,.5)
transitionTiming=cubic-bezier(0.68, -0.55, 0.265, 1.55)
vendors=official
skew=skewX(-10deg)

// Fonts
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('woff');
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat Light';
  src: url('../fonts/Montserrat-Light.woff') format('woff');
  src: url('../fonts/Montserrat-Light.woff2') format('woff2');
}

// Mixins
fullWidth() {
  width: 100%;
  height: 100%;
}

noSelect() {
  user-select: none;
  pointer-events: none;
}

centerItem() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// General Styles
.placeholder {
  cursor: pointer;
}

::selection {
  color: white;
  background-color: accent;
}

html, body {
  margin: 0;
  padding: 0;
}

html, body, .page {
  fullWidth();
}

html {
  font-size: 10px;
}

h1 {
  font-size: 4.8rem;
  color: accent;
  letter-spacing: 10px;
  text-indent: 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;

  &:after {
    fullWidth();
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../assets/bg.jpg") no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: .5;
  }
}

a {
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  width: 48%;

  &:first-child {
    margin-right: 2rem;
  }
}

nav {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 10rem;
  padding: 0 2rem;
  box-sizing: border-box;
  z-index: 1;

  .links, .avatar {
    flex: 1;
  }

  .links {
    display: flex;
    margin: auto;

    a {
      color: black25;
      font-size: 2.4rem;

      &:not(:last-of-type) {
        margin-right: 2rem;
      }
      &.active {
        color: #000;
      }
    }
  }

  .avatar {
    display: flex;
    margin: auto;
    justify-content: flex-end;

    .info {
      display: flex;
      margin: auto 1rem auto 0;
      flex-direction: column;
      text-align: right;

      .user {
        font-size: 1.6rem;
      }

      .profession {
        font-size: 1.2rem;
        color: black25;
      }
    }
    img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
  }
}

.button {
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 10%;
  font-size: 1.4rem;
  color: accent;
  border: 1px solid accent;
  border-radius: .4rem;
  transform: skew translate(-50%,-50%);
  padding: 1rem 2rem;
}

#home {
  display: flex;
  flex-direction: column;
  position: absolute;
  fullWidth();
  background-color: #000;
  z-index: 1;
  color: #fff;
  transition: .75s all ease;
  transition-delay: .5s;

  &.active {
    opacity: 0;
  }

  h1 {
    transition: .5s all ease;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    color: white10;
    &.active {
      opacity: 0;
      top: 0;
    }
  }

  .user {
    cursor: pointer;
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;

    &:hover .user-avatar:after {
      opacity: 1;
      transform: scale(1.25);
    }

    .user-avatar {
      transition: .25s all ease;
      width: 10rem;
      height: 10rem;
      position: relative;
      margin: 2rem auto;

      img {
        border-radius: 50%;
        fullWidth();
      }

      &:after {
        transition: .25s all ease;
        opacity: 0;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        fullWidth();
        border-radius: 50%;
        border: 1px solid white10;
        box-sizing: border-box;
        }

        &.active {
          animation: .5s shrinkDown transitionTiming;
          animation-fill-mode: both;
        }
    }

    span {
      &.active {
        animation: .5s slideOut transitionTiming;
        animation-fill-mode: both;
      }
    }

    span:first-of-type {
      margin: .5rem 0;
    }
    span:last-of-type {
      font-size: 1.2rem;
      color: white50;
    }
  }

  @keyframes shrinkDown {
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }
/*
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    fullWidth();
    z-index: -1;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    opacity: 1;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    fullWidth();
    background-color: #000;
    opacity: .95;
  }
  */
}

.page {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  margin: auto;
}

.half {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 50vh;
  background-color: white;

  &:nth-child(odd) {
    background-color: rgba(0,0,0,.05);
  }

  .title {
    font-size: 3.6rem;
    letter-spacing: 10px;
    text-indent: 10px;
    margin: 0;
    color: accent;
  }

  img {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%,-50%);
    height: 75%;
  }
}

.showcase {
  position: relative;
  display: flex;
  height: 100vh;

  span {
    font-size: 3.6rem;
    color: rgba(0,0,0,.25);
    position: absolute;
    width: 25%;
    top: 10%;
    text-align: center;
  }

  span:first-of-type {
    left: 0;
  }
  span:last-of-type {
    right: 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 50%;
    padding: 10rem 0;

    img {
      display: block;
      width: 100%;
      transition: .25s all ease;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}

.description {
  display: flex;
  width: 50%;
  flex-direction: column;

  .title {
    font-size: 1.6rem;
    letter-spacing: 2px;
    color: #000;
  }
  p {
    text-transform: none;
    font-size: 1.4rem;
    color: rgba(0,0,0,.75);
    line-height: 2;
  }
}

.section {
  margin-right: 2rem;
}

.achievements {
  display: flex;
  flex-direction: column;

  .columns {
    display: flex;
    flex-direction: row;

    .column {
      width: 50%;

      &:first-of-type {
        margin-right: 1rem;
      }
    }
  }
}

.title {
  display: flex;
  font-size: 1.8rem;
  //animation: slideRight 1s transitionTiming;
  animation-fill-mode: both;
  margin-bottom: 2rem;

  span:first-child {
    animation: slantIn 1s ease;
    animation-fill-mode: both;
    margin-right: .5rem;
    color: accent;

  }

  span:last-child {
    animation: slideRight 1s ease;
    animation-fill-mode: both;
    animation-delay: .25s;
  }
}

@keyframes slantIn {
  0% {
    opacity: 0;
    transform: skewX(-25deg) translateY(-50%);
  }
  100% {
    transform: skewX(-25deg) translateY(0);
  }
}

.achievement {
  cursor: pointer;
  font-family: 'Montserrat Light';
  position: relative;
  display: flex;
  width: 45rem;
  height: 8rem;
  background-color: #000;
  border-radius: .4rem;
  color: #fff;
  font-size: 1.4rem;
  //animation: fadeIn 2s ease;
  animation: growIn .5s ease;
  animation-fill-mode: both;
  transition: .1s all transitionTiming;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  .content {
    transition: 1s all transitionTiming;
    display: flex;
    margin: auto;
    width: 100%;
    animation: swingIn .5s transitionTiming;
    animation-fill-mode: both;

    .name {
      line-height: 8rem;
    }
  }

  .icon {
    display: block;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    color: #f2cc0c;
    border: 1px solid white25;
    border-radius: 50%;
    margin: auto 2rem;
  }

  .xp {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: white50;
    font-size: 1.2rem;
    line-height: 1;
  }
}

.skills {
  display: flex;
  flex-direction: column;

  .title {

    span:first-child {
      animation-delay: 1.75s;
    }

    span:last-child {
      animation-delay: 2s;
    }
  }

.skill {
  display: flex;
  animation: 2s swingIn transitionTiming;
  animation-fill-mode: both;
  transform-origin: top;
  backface-visibility: hidden;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  span {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    display: block;
    width: 12rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin-right: 2px;
    font-family: 'Montserrat Light';
    color: white50;

    &:after {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      //border: 1px solid accent;
      //box-sizing: border-box;
      background-color: #000;
      transform: skew;
      border-radius: 4px 0 0 4px;
    }
  }

  .stars {
    display: flex;
    position: relative;
    width: 15rem;
    height: 3.5rem;
    padding: 0 1rem;

    &:after {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: #000;
      transform: skew;
      border-radius: 0 4px 4px 0;
    }

    .star {
      animation: 1s popIn transitionTiming;
      animation-fill-mode: both;
      margin: auto;
      width: 16px;
      height: 15px;
      background: url('https://dl.dropboxusercontent.com/u/3624979/star.svg') center center no-repeat;

      &.dim {
        opacity: .25;
      }
    }
  }
}
}
//Animations
@keyframes swingIn {
  0% {
    transform: translateY(-25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideOut {
  100% {
    opacity: 0;
    transform: translateY(25%);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes growIn {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}


//First Achievement Column Staggered Animation
for num in (1..3) {
  .column:nth-child(1) .achievement:nth-child({num})
  {
    animation-delay: num * .25s + .25s;
  }
}

//Second Achievement Column Staggered Animation
for num in (1..3) {
  .column:nth-child(2) .achievement:nth-child({num})
  {
    animation-delay: num * .25s + .75s + .25s;
  }
}

//Skill Panel Delay
for num in (1..7) {
  .skill:nth-child({num})
  {
    animation-delay: num * 0.25s + 1s;
  }
}

for num in (1..5) {
  .skill:nth-child(1) .star:nth-child({num})
  {
    animation-delay: num * 0.25s + 1.5s !important;
  }
}

for num in (1..5) {
  .skill:nth-child(2) .star:nth-child({num})
  {
    animation-delay: num * 0.25s + 1.75s !important;
  }
}

for num in (1..5) {
  .skill:nth-child(3) .star:nth-child({num})
  {
    animation-delay: num * 0.25s + 2s !important;
  }
}

for num in (1..5) {
  .skill:nth-child(4) .star:nth-child({num})
  {
    animation-delay: num * 0.25s + 2.25s !important;
  }
}

for num in (1..5) {
  .skill:nth-child(5) .star:nth-child({num})
  {
    animation-delay: num * 0.25s + 2.5s !important;
  }
}

for num in (1..5) {
  .skill:nth-child(6) .star:nth-child({num})
  {
    animation-delay: num * 0.25s + 2.75s !important;
  }
}
for num in (1..5) {
  .skill:nth-child(7) .star:nth-child({num})
  {
    animation-delay: num * 0.25s + 3s !important;
  }
}

/////////////CARDS
.cards {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.card {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 33.33%;
  color: #fff;
  background-color: #fff;

  .preview {
    transition: .5s all ease;
    display: block;
    width: 100%;
  }

  &:hover .preview {
    filter: blur(2px);
  }

  .info {
    overflow: hidden;
    z-index: 0;
    //opacity: 0;
    display: flex;
    margin: auto;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    fullWidth();
    text-transform: uppercase;

    //dim style for hover
    &:after {
      transition: .5s all ease;
      opacity: .75;
      position: absolute;
      top: -100%;
      left: 0;
      fullWidth();
      content: "";
      background-color: #000;
      z-index: -1;
    }


    .title {
      centerItem();
      opacity: 0;
      font-size: 2.4rem;
      letter-spacing: 0px;
      text-indent: 20px;
      animation-fill-mode: both;
      text-align: center;
    }

    .button {
      border-color: #fff;
      color: #fff;
      .arrow {
        opacity: 0;
        centerItem();
        left: 0%;
      }

      span, .arrow {
        display: block;
      }
    }
  }

  &:hover .info:after {
    top: 0;
  }
  &:hover .info {
    opacity: 1;
  }

  &:hover .title {
    animation: expandLetters .75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-fill-mode: both;
    //animation-delay: .25s;
  }

  &:hover .action {
    animation: slideRight .75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-fill-mode: both;
    //animation-delay: .5s;
  }

  &:hover .action span {
  }
}
@keyframes expandLetters {
  100% {
    opacity: 1;
    letter-spacing: 20px;
  }
}

.case {
  //display: none;
}

.hero {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  height: 50vh;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../assets/img/studies/metro/hero.jpg');
    background-size: cover;
    z-index: -1;
    transition: .5s all ease;
    //filter: grayscale(1);
  }

  &:hover:after {
    transform: scale(1.1);
  }

  &:hover .title {
    opacity: 0;
    letter-spacing: 32px;
  }

  .title {
    color: #fff;
    font-family: "Montserrat Thin";
    font-size: 7.2rem;
    margin: auto;
    letter-spacing: 8px;
    transition: .25s all ease;

    span:first-of-type {
      margin-right: 2rem;
    }
  }
}

  .view {
    transition: .25s all ease;
    letter-spacing: 8px;
    opacity: 0;
    centerItem();

    span {
      color: #fff;
    }
  }

  .hero:hover .view, .card:hover .view {
    transition-delay: .25s;
    opacity: 1;
  }
#work {
  //display: none;
  //position: absolute;
  //top: 0;
  //z-index: 0;
  background-color: #fff;
}

.motion-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%,-50%);
}
.motion {
  display: block;
  width: 180px;
  height: 180px;
  border: 1px solid rgba(0,0,0,.25);
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotateCircle 5s linear infinite;

  &:after {
    content: "";
    position: absolute;
    left: 0%;
    top: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid accent;
    border-radius: 50%;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
  }
}

@keyframes rotateCircle {
  100% {
    transform: rotateZ(360deg);
  }
}
