// out: style.css, sourcemap: true, nib: true

// Variables
accent=#1a8cff
black05=rgba(0,0,0,.05)
black10=rgba(0,0,0,.10)
black25=rgba(0,0,0,.25)
white05=rgba(255,255,255,.05)
white10=rgba(255,255,255,.1)
white25=rgba(255,255,255,.25)
white50=rgba(255,255,255,.5)
transitionTiming=cubic-bezier(0.68, -0.55, 0.265, 1.55)
vendors=official
skew=skewX(-10deg)

// Fonts
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/ProximaNova-Regular.woff') format('woff');
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/ProximaNova-Bold.woff') format('woff');
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('../fonts/ProximaNova-Semibold.woff') format('woff');
  src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2');
}
@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova-Light.woff') format('woff');
  src: url('../fonts/ProximaNova-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Proxima Nova Thin';
  src: url('../fonts/ProximaNova-Thin.woff') format('woff');
  src: url('../fonts/ProximaNova-Thin.woff2') format('woff2');
}

// Mixins
fullWidth() {
  width: 100%;
  height: 100%;
}


noSelect() {
  user-select: none;
  pointer-events: none;
}

centerItem() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerItem {
  display: flex;
  centerItem();
}
// General Styles
::selection {
  color: white;
  background-color: accent;
}

html, body {
  margin: 0;
  padding: 0;
}

html, body, .page {
  fullWidth();
}

html {
  font-size: 10px;
}

h1 {
  font-size: 4.8rem;
  color: accent;
  letter-spacing: 10px;
  text-indent: 10px;
}

body {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  overflow-x: hidden;

  &.noScroll {
    overflow: hidden;
  }

  &:after {
    fullWidth();
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../assets/bg.jpg") no-repeat;
    background-size: cover;
    z-index: -2;
    opacity: .5;
  }
}

a {
  color: accent;
  text-decoration: none;

  &:visited {
    opacity: .25;
  }
}

.column {
  display: flex;
  flex-direction: column;
  width: 48%;

  &:first-child {
    margin-right: 2rem;
  }
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 10rem;
  padding: 0 2rem;
  box-sizing: border-box;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 7rem;
    z-index: -1;
    transition: .5s all ease;
  }

  &, * {
    transition: .25s all ease;

    .avatar {
      transition: .75s all transitionTiming;
    }
  }


  .nav, .avatar {
    flex: 1;
  }

.back {
  display: flex;
  position: absolute
  top: 0;
  left: 0;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  box-sizing: border-box;

  img {
    margin: auto;
  }

  &:hover img {
    transform: scale(1.25);
  }

  &:not(:hover) img {
    opacity: .75;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    fullWidth();
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 50%;
  }
}
  .avatar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin: 1rem 0;
    animation: .75s avatarDown transitionTiming;


    &.hidden {
      animation: none;
    }

    .user-avatar {
      position: relative;
      margin: auto;
      width: 5rem;
      height: 5rem;

      &:after {
        transition: .25s all ease;
        opacity: 0;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        fullWidth();
        border-radius: 50%;
        border: 1px solid black10;
        box-sizing: border-box;
        img {
          display: block;
        }
      }
    }
    &.light {
      .info {
        color: #fff;
      }

      .user-avatar:after {
        border-color: white10;
      }
    }

    &:hover .user-avatar:after {
      opacity: 1;
      transform: scale(1.25);
    }


    &:hover .info {
      opacity: 1;
      transform: translateY(0);
    }

    .info {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 1rem 0;
      transform: translateY(-25%);
      opacity: 0;
      animation: 2.5s avatarInfo transitionTiming;

      .user {
        font-family: 'Proxima Nova Semibold';
      }

      .profession {
        font-size: 1.4rem;
        opacity: .5;
      }
    }
    img {
      margin: 0 auto;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
  }
  &.scroll {
    position: fixed;
    height: 7rem;

    .avatar {
      top: -100%;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 7rem;
      z-index: -1;
    }

    .info {
      display: none;
    }

    .back {
      &:after {
        border-radius: 0;
        border: 0;
      }
    }
  }
}

.social {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 7rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  color: white;

  a {
    margin: auto;
    padding: 1rem;
    color: white25;
    animation: .5s slideDown transitionTiming;
    animation-fill-mode: backwards;

    img {
      display: block;
    }

    &:hover {
      transform: scale(1.25);
    }
    &:not(:hover) {
      opacity: .75;
    }
  }
}

.button {
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 10%;
  color: accent;
  border: 1px solid accent;
  border-radius: .4rem;
  transform: skew translate(-50%,-50%);
  padding: 1rem 2rem;
}

#particles-js {
  position: absolute;
  fullWidth();
}

#home {
  display: flex;
  flex-direction: column;
  position: absolute;
  fullWidth();
  background-color: #000;
  z-index: 1;
  color: #fff;
  transition: .5s all ease;
  transition-delay: .5s;

  &.active {
    transform: translateY(-100%);
  }

  h1 {
    position: absolute;
    width: 100%;
    top: 10%;
    transform: translateY(-10%);
    text-align: center;
    color: white10;
    transition: .5s all ease;

    &.active {
      opacity: 0;
      top: 0;
    }
  }

  .user {
    cursor: pointer;
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;

    &:hover .user-avatar:after {
      opacity: 1;
      transform: scale(1.25);
    }

    .user-avatar {
      transition: .25s all ease;
      width: 10rem;
      height: 10rem;
      position: relative;
      margin: 2rem auto;
      animation: .5s growObject transitionTiming;


      img {
        border-radius: 50%;
        fullWidth();
      }

      @keyframes rotateObject {
        100% {
          transform: translateX(-50%) rotateZ(360deg);
        }
        }

      &:after {
        transition: .25s all ease;
        opacity: 0;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        fullWidth();
        border-radius: 50%;
        border: 1px solid white10;
        box-sizing: border-box;
      }

      &.active {
        animation: .5s shrinkDown transitionTiming;
        animation-fill-mode: both;
      }
    }

    span {
      animation: 1s slideDown transitionTiming;
      animation-fill-mode: both;

      &.active {
        animation: .5s slideUp transitionTiming;
        animation-fill-mode: both;
      }
    }

    span:first-of-type {
      margin: .5rem 0;
    }
    span:last-of-type {
      font-size: 1.2rem;
      color: white50;
    }
  }

  @keyframes shrinkDown {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }

  @keyframes growObject {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

#work {
  .half {
    background-color: rgba(0,0,0,.05);
  }
}

.page {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  margin: auto;
  justify-content: center;
}

.half {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 50vh;
  background-color: #fff;

  &:nth-child(odd) {
    background-color: rgba(0,0,0,.05);
  }

  .title {
    letter-spacing: 2px;
    color: #000;
    text-indent: 10px;
    margin: 0;
  }

  img {
    display: block;
    height: 75%;
  }
}
.image-container {
  display: flex;

  & div {
    width: 25%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.showcase {
  position: relative;
  display: flex;

  span {
    font-family: 'Proxima Nova Light';
    font-size: 3.6rem;
    color: rgba(0,0,0,.25);
    position: absolute;
    width: 25%;
    top: 10%;
    text-align: center;
  }

  span:first-of-type {
    left: 0;
  }
  span:last-of-type {
    right: 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 50%;
    padding: 10rem 0;

    img {
      display: block;
      width: 100%;
      transition: .25s all ease;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}

.video {
  span {
    top: 50%;
    transform: translateY(-50%);
  }
  video {
    width: 100%;
    height: auto;
  }
}


.description {
  display: flex;
  width: 50%;
  flex-direction: column;

  p {
    text-transform: none;
    color: rgba(0,0,0,.75);
    line-height: 2;
  }
}

.section {
  margin-right: 2rem;
}

.title {
  font-family: "Proxima Nova Semibold";
  display: flex;
  letter-spacing: 2px;
  margin-bottom: 2rem;

  span:first-child {
    opacity: 0;
    transform: skewX(-25deg) translateY(-50%);
    margin-right: .5rem;
    color: accent;
    transition: 1s all ease;
    &.animate {
      opacity: 1;
      animation: slantIn 1s ease;
      animation-fill-mode: both;
    }
  }

  span:last-child {
    &.animate {
      animation: slideRight 1s ease;
      animation-fill-mode: both;
      animation-delay: .25s;
    }
  }
}

.achievements {
  pointer-events: none;
  display: flex;
  flex-direction: column;

  .columns {
    display: flex;
    flex-direction: row;

    .column {
      width: 50%;

      &:first-of-type {
        margin-right: 1rem;
      }
    }
  }

  .achievement {
    position: relative;
    display: flex;
    width: 45rem;
    height: 8rem;
    background-color: #000;
    border-radius: .4rem;
    color: #fff;
    transition: .1s all transitionTiming;

    &.inactive {
      opacity: .5;
    }

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    &.animate {
      animation: growIn .5s ease;
      animation-fill-mode: both;
    }

    .content {
      transition: 1s all transitionTiming;
      display: flex;
      margin: auto;
      width: 100%;

      .name {
        line-height: 8rem;
      }
    }

    .icon {
      display: flex;
      width: 5rem;
      height: 5rem;
      line-height: 5rem;
      text-align: center;
      color: #f2cc0c;
      border: 1px solid white25;
      border-radius: 50%;
      margin: auto 2rem;
    }

    img {
      margin: auto;
    }

    .xp {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      color: white50;
      font-size: 1.2rem;
      line-height: 1;
    }
  }
}


@keyframes slantIn {
  0% {
    opacity: 0;
    transform: skewX(-25deg) translateY(-50%);
  }
  100% {
    transform: skewX(-25deg) translateY(0);
  }
}


.skills {
  pointer-events: none;
  display: flex;
  flex-direction: column;

  .title {
    span:first-child {
      animation-delay: 1.75s;
    }

    span:last-child {
      animation-delay: 2s;
    }
  }


.skill {
  display: flex;
  transform-origin: top;
  backface-visibility: hidden;
  opacity: 0;

  &.animate {
    animation: 2s swingIn transitionTiming;
    animation-fill-mode: both;

    .star {
      animation: 1s popIn transitionTiming;
      animation-fill-mode: both;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  span {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    display: block;
    width: 12rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin-right: 2px;
    color: white50;
    transform: skew;

    &:after {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: #000;
      border-radius: 4px 0 0 4px;
    }
  }

  .stars {
    display: flex;
    position: relative;
    width: 15rem;
    height: 3.5rem;
    padding: 0 1rem;

    &:after {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: #000;
      transform: skew;
      border-radius: 0 4px 4px 0;
    }

    .star {
      margin: auto;
      width: 16px;
      height: 15px;
      background: url('https://dl.dropboxusercontent.com/u/3624979/star.svg') center center no-repeat;

      &.dim {
        opacity: .25;
      }
    }
  }
}
}
//Animations
@keyframes swingIn {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes avatarInfo {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
}

@keyframes avatarDown {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes slideUp {
  100% {
    opacity: 0;
    transform: translateY(25%);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes growIn {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

// Social Link Staggered slideDown
for num in (1..5) {
  .social a:nth-of-type({num})
  {
    animation-delay: num * 0.05s + .25s !important;
  }
}

//First Achievement Column Staggered Animation
for num in (1..3) {
  .column:nth-child(1) .achievement:nth-child({num})
  {
    animation-delay: num * .25s + .25s;
  }
}

//Second Achievement Column Staggered Animation
for num in (1..3) {
  .column:nth-child(2) .achievement:nth-child({num})
  {
    animation-delay: num * .25s + .75s + .25s;
  }
}

//Skill Panel Delay
for num in (1..7) {
  .skill:nth-child({num})
  {
    animation-delay: num * 0.25s + 1s !important;
  }
}

for num in (1..5) {
  .skill:nth-child(1) .star:nth-child({num})
  {
    animation-delay: num * 0.25s + 1.5s !important;
  }
}

for num in (1..5) {
  .skill:nth-child(2) .star:nth-child({num})
  {
    animation-delay: num * 0.25s + 1.75s !important;
  }
}

for num in (1..5) {
  .skill:nth-child(3) .star:nth-child({num})
  {
    animation-delay: num * 0.25s + 2s !important;
  }
}

for num in (1..5) {
  .skill:nth-child(4) .star:nth-child({num})
  {
    animation-delay: num * 0.25s + 2.25s !important;
  }
}

for num in (1..5) {
  .skill:nth-child(5) .star:nth-child({num})
  {
    animation-delay: num * 0.25s + 2.5s !important;
  }
}

for num in (1..5) {
  .skill:nth-child(6) .star:nth-child({num})
  {
    animation-delay: num * 0.25s + 2.75s !important;
  }
}
for num in (1..5) {
  .skill:nth-child(7) .star:nth-child({num})
  {
    animation-delay: num * 0.25s + 3s !important;
  }
}

//Cards
.cards {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.card {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 25%;
  color: #fff;
  background-color: #fff;

  .preview {
    transition: .75s all transitionTiming;
    display: block;
    width: 100%;
    height: 100%;
  }

  &:hover .preview {
    transform: translateY(-100%);
    opacity: 0;
  }

  .info {
    overflow: hidden;
    z-index: 0;
    display: flex;
    margin: auto;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    fullWidth();
    text-transform: uppercase;

    //dim style for hover
    &:after {
      transition: .5s all ease;
      opacity: .75;
      position: absolute;
      top: -100%;
      left: 0;
      fullWidth();
      content: "";
      background-color: #fff;
      z-index: -1;
    }

    .view span {
      color: #000 !important;
    }
  }

  &:hover .info {
    opacity: 1;
  }
}

.hero {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  height: 50vh;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
    transition: .5s all ease;

    .metro&{
          background-image: url('../assets/img/studies/metro/hero.jpg');
    }
    .yali&{
          background-image: url('../assets/img/studies/yali/hero.jpg');
    }
    .fortunes&{
          background-image: url('../assets/img/studies/fortunes/hero.jpg');
    }
  }
  .metro:after {
    background-image: url('../assets/img/studies/metro/hero.jpg');
  }

  &:hover:after {
    transform: scale(1.1);
  }

  &:hover .title {
    opacity: 0;
    letter-spacing: 32px;
  }

  .title {
    color: #fff;
    font-family: "Proxima Nova Thin";
    font-size: 7.2rem;
    margin: auto;
    letter-spacing: 8px;
    transition: .25s all ease;

    span:first-of-type {
      margin-right: 2rem;
    }
  }
}

.view {
  font-family: 'Proxima Nova Semibold';
  transition: .25s all ease;
  letter-spacing: 4px;
  opacity: 0;
  centerItem();
  width: 100%;
  text-align: center;

  span {
    color: #fff;
  }

  img {
    animation: 1s pokeLeft infinite;
  }
}

.scrollArrow {
  position: absolute;
  left: 50%;
  bottom: 3rem;
  animation: 1s pokeDown infinite;
  transform: translateX(-50%);
}

@keyframes pokeLeft {
  0% {
    transform: translateX(25%);
  }
  20% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(25%);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(25%);
  }
}

@keyframes pokeDown {
  0% {
    transform: translateY(25%);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(25%);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(25%);
  }
}

.hero:hover .view, .card:hover .view {
  transition-delay: .25s;
  opacity: 1;
}

#study {
  .hero {
    pointer-events: none;
  }
}

.motion-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%,-50%);
}
.motion {
  display: block;
  width: 180px;
  height: 180px;
  border: 1px solid rgba(0,0,0,.25);
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotateCircle 5s linear infinite;

  &:after {
    content: "";
    position: absolute;
    left: 0%;
    top: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid accent;
    border-radius: 50%;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
    animation: pulseShadow 2.5s ease infinite;
    animation-fill-mode: both;
  }
}

@keyframes pulseShadow {
  0% {
    box-shadow: 0 0 10px rgba(26,140,255,.25), inset 0 0 10px rgba(26,140,255,.25)
  }
  20% {
    box-shadow: 0 0 0px rgba(26,140,255,.25), inset 0 0 0px rgba(26,140,255,.25)
  }
  40% {
    box-shadow: 0 0 10px rgba(26,140,255,.25), inset 0 0 10px rgba(26,140,255,.25)
  }
  80% {
    box-shadow: 0 0 0px rgba(26,140,255,.25), inset 0 0 0px rgba(26,140,255,.25)
  }
  100% {
    box-shadow: 0 0 10px rgba(26,140,255,.25), inset 0 0 10px rgba(26,140,255,.25)
  }
}

@keyframes rotateCircle {
  100% {
    transform: rotateZ(360deg);
  }
}

.footer {
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;
  height: 25vh;
  font-family: "Proxima Nova Thin";
  font-size: 3.6rem;
  background-color: black05;

  span {
    margin: auto;
    color: rgba(0,0,0,.5);
  }

  div {
    width: 10rem;
    height: 10rem;
    text-align: center;
    margin: auto;
    line-height: 3.6rem;

    img {
      display: block;
      fullWidth();
      transition: .5s all transitionTiming;
      opacity: .25;
    }

  }
  &:hover img {
    transform: translate(100%, -100%);
    opacity: 0;
  }
}

// Media Queries

//Tablet
@media (max-width: 1024px) {
    .half {
      height: initial;
      min-height: 50vh;

      .container {
        width: 75%;
        text-align: justify;
      }
    }
}

//General Phone
@media (max-width: 768px) {
  #profile, #particles-js, body:after {
    display: none;
  }

  footer {
    margin-bottom: 7rem;
  }

  h1 {
    font-size: 2.4rem;
    width: 100%;
    text-align: center;
  }
  .page {
    padding: 5rem 0;
  }
  .showcase {
    span {
      display: none;
    }

    .container {
      width: 100%;
      padding: 0;

      img:not(:last-child) {
        margin-bottom: 0;
      }

      .column {
        width: 100%;
        &:first-of-type {
          display: none;
        }
      }
    }
  }

  .half {
    min-height: 100vh;
    .container {
      width: 90%;
    }
  }

  .hero {
    min-height: 50vh;

    .title {
      font-size: 4.8rem;
    }
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .card {
    width: 50%;
  }

  nav {
    background-color: black;
    height: 5rem;

    &.scroll {
      height: 5em;
    }

    .avatar {
      display: none;
      left: initial;
      right: 0;
      height: 7rem;
      transform: translateX(0);
      flex-direction: row;
      margin: auto 1rem;

      .user-avatar {
        order: 2;
      }

      .info {
        color: #fff;
        text-align: right;
        transform: translateY(0);
        margin: auto 1rem;
        opacity: 1 !important;
      }
    }
  }

  .image-container {
    flex-direction: column;

    div {
      width: 100%;

      &:not(:first-child) {
        display: none;
      }
    }
  }
  .social {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: #000;
    margin: 0;
  }

  .motion-container {
    top: 0%;
    left: 50%;
  }
}

//Portrait Phone
@media (max-width: 768px) and (orientation:portrait) {
}

//Landscape Phone
@media (max-width: 768px) and (orientation:landscape) {
  .hero, .half {
    min-height: 100vh;
  }
}
